src/main/resources/name.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://ruban.com/soap"
           targetNamespace="http://ruban.com/soap"
           elementFormDefault="qualified">
    <xs:element name="getNameRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name_project" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getNameResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name_project" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>